
@{
	ViewBag.Title = "Instalment";
}

<div class="col-sm-12" style="width:970px;"><img src="~/Content/images/TraGop.jpg" /></div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<div class="col-sm-12"><h3 style="text-align:center">THÁNG VÀNG TRẢ GÓP - NHẬN NGAY APPLE</h3></div>
				<div class="col-sm-12">
					<div class="col-sm-12">Thời gian : <span style="color:red">1/11-30/11/2018</span></div>
					<div class="col-sm-12">Áp dụng: Toàn bộ khách hàng mua hàng trả góp tại hệ thống : <span style="color:red">Thế Giới Điện Thoại</span></div>
					<div class="col-sm-12">Hình thức trao thưởng: Livestream quay số trúng thưởng qua trang Random.org trên Fanpage chính thức: <span style="color:red">https://www.facebook.com/tgdt/</span></div>
					<div class="col-sm-12">Nội dung giải thưởng:</div>
				</div>
				<div class="col-sm-12">

					<div class="container">
						<div class="row">
							<div class="col-sm-12 clear">
								<div class="panel-group">
									<div class="panel panel-primary">
										<div class="panel-heading">
											<h4 style="color:red; text-align:center;">Chi Tiết Giải Thưởng</h4>
										</div>
										<div class="panel-body">
											<table class="table table-hover">
												<thead>
													<tr>
														<th class="col-sm-6">Đợt 1: 1/11-15/11/2018	</th>
														<th class="col-sm-6">Đợt 2: 16/11-30/11/2018</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td>Giải thưởng: Apple Watch Series 3 trị giá 8.300.000 VNĐ</td>
														<td>Giải thưởng: iPhone 6 32GB chính hãng trị giá 6.500.000 VNĐ</td>
													</tr>
													<tr>
														<td>Ngày quay thưởng: 16/11/2018</td>
														<td>Ngày quay thưởng: 3/12/2018</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>





					<div class="container">
						<div class="row">
							<div class="col-sm-12 clear">
								<div class="panel-group">
									<div class="panel panel-primary">
										<div class="panel-heading">
											<h4 style="color:red; text-align:center;">Các công ty tài chính (FECredit, HomeCredit, HDSaiSon)</h4>
										</div>
										<div class="panel-body">
											<table class="table table-hover">
												<thead>
													<tr>
														<th class="col-sm-3">CÔNG TY TÀI CHÍNH</th>
														<th class="col-sm-3"><img src="~/Content/images/logo-fecredit.jpg" /></th>
														<th class="col-sm-3"><img src="~/Content/images/logo-homecredit.jpg" /></th>
														<th class="col-sm-3"><img src="~/Content/images/logo-hdsaison.jpg" /></th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td>Khu vực áp dụng:</td>
														<td>Hà Nôi, Hồ Chí Minh</td>
														<td>Hà Nôi, Hồ Chí Minh</td>
														<td>Hà Nôi, Hồ Chí Minh</td>
													</tr>
													<tr>
														<td>Tổng đài</td>
														<td>(028) 39 333 888</td>
														<td>(028) 38 999 666</td>
														<td>1900 55 88 54</td>
													</tr>
													<tr>
														<td>Đối tượng áp dụng</td>
														<td>Khách hàng từ 20 tuổi</td>
														<td>Khách hàng từ 20 tuổi</td>
														<td>Khách hàng từ 19 tuổ</td>
													</tr>
													<tr>
														<td>Giá máy tối thiểug</td>
														<td>2 triệu</td>
														<td>3 triệu</td>
														<td>1 triệu</td>
													</tr>
													<tr>
														<td>Giá máy tối đa</td>
														<td>22 triệu</td>
														<td>21 triệu</td>
														<td>30 triệu</td>
													</tr>
													<tr>
														<td>Mức trả trước tối thiểu</td>
														<td>10%</td>
														<td>21%</td>
														<td>30%</td>
													</tr>
													<tr>
														<td>Phí bảo hiểm</td>
														<td>Tuỳ thuộc vào khoản vay</td>
														<td>Tuỳ thuộc vào khoản vay</td>
														<td>Tuỳ thuộc vào khoản vay</td>
													</tr>
													<tr>
														<td>Phí thu hộ</td>
														<td>12.000 đ</td>
														<td>13.000 đ</td>
														<td>12.000 đ</td>
													</tr>
													<tr>
														<td>Thời gian duyệt hồ sơ</td>
														<td>30 - 60 phút</td>
														<td>30 - 60 phút</td>
														<td>30 - 60 phút</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>







				</div>

			</div>
		</div>
	</div>
</div>

