
@{
	ViewBag.Title = "Introduce";
}
<div class="col-sm-12" style="height:30px;"></div>
<div class="col-sm-12">
	<div class="col-sm-12"><h4>Giới Thiệu</h4></div>
	<div class="col-sm-12">
		Thế Giới Điện Thoại được thành lập từ năm 2018, là chuỗi bán lẻ điện thoại có thị phần lớn số 1 tại Việt Nam
		với hơn 1000 cửa hàng hiện diện tại 63 tỉnh thành trên khắp Việt Nam.
	</div>
</div>
<div class="col-sm-12" style="height:30px;"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-7"><img src="~/Content/images/Thiet-ke-shop-dien-thoai.jpg.jpg" /></div>
			<div class="col-sm-5">
				<div class="col-sm-12">
					<div class="col-sm-12"><h4 class="text-primary">TIỆN ÍCH TẠI HỆ THỐNG :</h4></div>
					<div class="col-sm-12"><b>– Tận tâm với khách hàng</b></div>
					<div class="col-sm-12"><b>– Cài đặt & sử dụng ứng dụng, Game,… Miễn phí</b></div>
					<div class="col-sm-12"><b>– Trải nghiệm trực tiếp,dùng thử sản phẩm Miễn Phí.</b></div>
					<div class="col-sm-12"><b>– Bảo Hành chính hãng,Dịch vụ sửa chữa Số 1 TPHCM</b></div>
					<div class="col-sm-12"><b>– Nhân viên thân thiện, gửi xe & Wifi Miễn phí</b></div>
					<div class="col-sm-12"><b>– Miễn phí cà thẻ (ngoại trừ AMEX, UnionPay & JCB)</b></div>
					<div class="col-sm-12"><b>– Trả góp từ 0% qua thẻ tín dụng & công ty tài chính</b></div>				
					<div class="col-sm-12"><b>– Thanh toán hóa đơn trả góp, điện, nước, internet, nạp tiền điện thoại tiết kiệm tới 5%</b></div>
					<div class="col-sm-12"><b>– Giao hàng miễn phí, thanh toán tại nhà Toàn quốc</b></div>					
				</div>
			</div>

		</div>
	</div>
</div>

<div class="col-sm-12" style="height:50px;"></div>


<div class="col-sm-12">
	<div class="col-sm-12"><h5>Một Số Hình Ảnh Tại Cửa Hàng Chúng Tôi</h5></div>

	<div class="col-sm-12"></div>
	<div class="col-sm-12"></div>
	<div class="col-sm-12"></div>
	<div class="col-sm-12"></div>

	<div class="col-sm-12"></div>
	<div class="col-sm-12"></div>
	<div class="col-sm-12"></div>
	<div class="col-sm-12"></div>

</div>



<div class="col-sm-12">
	<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1942179368752!2d106.66460264998794!3d10.796431992270225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175292e79f1e72f%3A0xae118f87eef3dca1!2zVHLGsOG7nW5nIMSR4bqhaSBo4buNYyBUw6BpIG5ndXnDqm4gdsOgIE3DtGkgdHLGsOG7nW5nIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1542023187659" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>