@{
	ViewBag.Title = "Recruitment";
}

<div class="col-sm-12" style="height:50px;"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			@Html.Label("Những vị trí vẫn đang tuyển dụng:")
		</div>
		<div class="col-sm-12" style="height:25px;"></div>


		<div class="panel panel-default">

			<div class="panel-body" style="background-color:snow">
				<div class="col-sm-12">
					<div class="col-sm-3">
						<ul>
							<li>Tuyển Thu Ngân </li>
							<li>Tuyển bán hàng </li>
							<li>Tuyển Kỹ thuật phần mềm </li>
							<li>Kỹ thuật Ép kính điện thoại </li>
							<li>Kỹ thuật sửa chữa</li>
							<li>Tổng đài điện thoại</li>
							<li>Quản lý ngành hàng - kinh doanh </li>
							<li>Nhân viên Kho </li>
							<li>Nhân viên bán hàng Online  </li>
							<li>Vị trí dẫn dắt – Video Jockey kênh video</li>
							<li>Quay Video kênh video</li>
							
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<li>Dựng Video kênh video</li>
							<li>Chuyên viên Phân tích dữ liệu – BI/BA</li>
							<li>Chuyên viên Đào tạo</li>
							<li>Nhân viên Marketing Nội dung </li>
							<li>Nhân viên Thiết kế</li>
							<li>Kế toán Tổng hợp</li>
							<li>Chuyên viên Hành chính Nhân sự </li>
							<li>Chuyên viên Kiểm soát dịch vụ </li>
							<li>Chuyên viên Quản lý cơ sở vật chất, kỹ thuật</li>
							<li>Chuyên viên CSKH Online (Chat)</li>
							<li>( Marketing ) Chuyên viên SEO  </li>
							<li>( Marketing online) Chuyên viên SEO </li>
							<li>Chuyên viên Phân tích dữ liệu – BI/BA </li>

						</ul>
					</div>

				</div>

			</div>
			<div class="col-sm-12" style="height:50px;"></div>
		</div>
	</div>
</div>





