
@{
	ViewBag.Title = "A7";
}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			@Html.Label("Đừng bỏ qua cơ hội mua Galaxy A7 (2018) bản 128GB tiết kiệm đến 2 triệu!")
		</div>
		<div class="col-sm-12">
			<p>
				Chỉ duy nhất trong 2 ngày từ 10 – 11/11, khi khách hàng mua chiếc smartphone tầm trung 3 camera sau Galaxy A7 (2018) sẽ nhận ngay ưu đãi miễn phí
				nâng cấp phiên bản 64GB lên bản cao cấp dung lượng bộ nhớ 128GB với chi phí tiết kiệm lên đến 2 triệu.
			</p>
		</div>
		<div class="col-sm-12">
			<ul>
				<li>Trải nghiệm cùng Galaxy A7 2018 trong chuyến đi Nha Trang</li>
				<li>Samsung Galaxy A7: Phiên bản 3 camera sau của Galaxy A9 với giá chỉ 7 triệu đồng</li>
				<li>Galaxy A7 2018 – Kiệt tác 3 camera duy nhất không thể bỏ qua trong phân khúc</li>
			</ul>
			<p>Galaxy A7 2018 là chiếc smartphone tầm trung hot nhất tại thị trường Việt Nam hiện nay với thiết kế đẹp mắt, 3 tuỳ chọn màu sắc thời thượng trên mặt lưng kính bóng bẩy. Hệ thống cụm 3 camera sau đầu tiên trong phân khúc, với khả năng chụp ảnh góc siêu rộng lên đến 120 độ.</p>

		</div>
		<div class="col-sm-12"> <img src="~/Content/images/11.jpg" /></div>
		<p>
			Hiệu năng khá tốt với con chip Exynos 7885, tối ưu mượt mà trên nền tảng Android 8.1 giao diện Samsung Experience 8.5 thông minh. Đi kèm là viên pin dung lượng lớn 3.300 mAh, đủ để đáp ứng nhu cầu cơ bản cho đến tác vụ giải trí, chơi game, chỉnh sửa hình ảnh, xem phim, chụp ảnh, học tập, công việc … của ngườ dùng trọn vẹn một ngày làm việc.

			Xem thêm: Đánh giá camera Galaxy A7 2018: Với 3 camera thì làm được gì?
			Và trong 2 ngày cuối tuần này là 10 – 11/11/2018, Samsung kết hợp CellphoneS tung ra chương trình “Mua Galaxy A7 2018 – Miễn phí nâng cấp phiên bản lên bản 128GB”.
		</p>
		<div class="col-sm-12"> <img src="~/Content/images/12.jpg" /></div>
		<div class="col-sm-12">
			<ul>
				<li>Thời gian áp dụng: Duy nhất từ ngày 10 – 11/10/2018</li>
				<li>Ưu đãi nâng cấp thẳng lên bản 128GB, tức là bạn chỉ mua bản Galaxy A7  2018 phiên bản 128GB (giá 8.990.000 VND) chỉ với giá 6.990.000 , tiết kiệm lên đến 2 triệu!</li>
				<li>Dung lượng ROM gấp đôi thành 128GB, dung lượng RAM lên đến 6GB cho nhu cầu trải nghiệm đa nhiệm, lưu trữ thoải mái.</li>
				<li>Áp dụng trả góp lãi suất 0%</li>
				<li>Ưu đãi đặc quyền Quà tặng Galaxy: Cafe Highlands, xem phim Lotte và 3 tháng Fim+ bản quyền</li>
				<li>Số lượng máy áp dụng có hạn cho 200 suất khách hàng đầu tiên.</li>

			</ul>
			<div style="" class="col-sm-12"><img src="~/Content/images/11.jpg" /> </div>
			<div>Đừng chần chừ mà hãy nhanh tay click vào link chương trình nâng cấp miễn phí Galaxy A7 2018 phiên bản 128GB. Số lượng chỉ có hạn 200 khách đầu tiên</div>
		</div>
	</div>
</div>

