
@{
    ViewBag.Title = "NewsBB1";
}

<body>
	<h1><b>Blackberry KeyOne giảm sốc 6.9 triệu: Khi siêu phẩm về giá trị thực?</b></h1>
	<h4>
		Sau gần 2 năm ra mắt trên thị trường, Blackberry chính thức giảm sốc 60% cho thiết bị có bàn phím đầu tiên kết hợp sản xuất cùng TCL mang tên KeyOne. Với mức giá chính hãng 6.990.000đ tại CellphoneS, liệu Blackberry KeyOne có thực sự tạo nên sức hút?
	</h4>
	<ul style=”color:red;”>
		<li>Loạt smartphone giảm giá cực sâu trong tháng 11 này (P1)</li>
		<li>BlackBerry KEYone chính thức được ra mắt tại Việt Nam, giá 14.99 triệu đồng</li>
		<li>BlackBerry vừa chỉ ra lý do bàn phím QWERTY luôn tuyệt hơn màn hình cảm ứng</li>
	</ul>
	<p><span style="font-size:20px;"><b>Blackberry KeyOne</b></span> sở hữu một thiết kế đậm chất nhà Dâu đen, mang nét hoài cổ với dải bàn phím Qwerty độc đáo. KeyOne có thiết kế rất đẹp, có thể khẳng định điều đó. Khi cầm máy ra ngoài đường chắc chắn nhiều người sẽ hỏi chúng ta vì nó khác biệt so với hàng trăm điện thoại na ná nhau trên thị trường. Cảm giác cầm nắm KeyOne là chắc chắn, vững chãi và không hề rẻ tiền.</p>
	<img src="~/Content/images/Hinh01.jpg" />
	<p>
		Blackberry vẫn mang lại những tính năng cũng như cảm giác bàn phím trên KeyOne như kích hoạt hotkey, cảm ứng trên bàn phím giúp thao tác cuộn trang khi lướt web hay văn bản thuận tiện hơn, … điều mang lại nét đặc trưng rất riêng của Dâu Đen.
	</p>
	<p>
		Nâng cấp hơn so với các người tiền nhiệm Priv, Blackberry KeyOne được hoàn thiện tỉ mỉ hơn ở phần bàn phím cũng như tích hợp bảo mật vân tay vào phím Spacebar.
	</p>
	<img src="~/Content/images/Hinh02.jpg" />
	<p>
		Sở hữu cấu hình ở mức ổn so với các đối thủ khác, màn hình 4.5 inch FullHD tỉ lệ 4:3 cùng con chip Snapdragon 625 – 3GB RAM | 32GB ROM. Viên pin dung lượng lớn 3.505 mAh cùng khởi chạy trên nền Android 8.1 tùy biến thêm những phần mềm độc quyền như Blackberry Hub, BBM, DTek, …
	</p>
	<p>
		Camera chính 12 MP và selfie 8 MP có chất lượng ở mức khá, cũng không quá đặc biệt khi nhiều máy Android khác ở mức giá 3 triệu đã có camera kép.
	</p>
	<img src="~/Content/images/Hinh03.jpg" />
	<p>Có thể KeyOne không phải là thiết bị chuyên để chơi game, cũng chẳng ưu thế trong việc xem phim khi có màn hình 4:3. Thế nhưng đôi khi tình yêu lại là mù quáng, rất có thể máy vẫn có những đặc điểm làm chúng ta hài lòng với việc sở hữu, bất chấp xã hội nói gì.</p>
	<img src="~/Content/images/Hinh04.jpg" />
	<p>Mức giá 6.9 triệu đồng đã về rất sát với giá trị thực của máy, kéo KeyOne xuống phân khúc tầm trung phổ thông với lợi thế bàn phím cứng đi cùng các tính năng hỗ trợ công việc hiệu quả, các phần mềm bảo mật Dtek, và quan trọng trên hết cũng chính là thiết kế hoài cổ.</p>
	<img src="~/Content/images/Hinh05.jpg" />
	<p>Các tín đồ Blackberry hay những bạn trẻ hoài cổ ưa thích điện thoại bàn phím nhưng vẫn cần smartphone phục vụ công việc, thì KeyOne là một trải nghiệm đáng để cân nhắc khi mức giá giảm gần 60% thế này!</p>
</body>

