
@{
	ViewBag.Title = "NewsIP1";
}

<html>
<head>

</head>
<body>
	<h1><b>Thu cũ đổi mới – Lên đời iPhone XS Max chính hãng tiết kiệm hơn 15 triệu tại CellphoneS</b></h1>
	<h4>
		Không phân biệt nguồn gốc máy cũ, máy xách tay, không còn hộp hay phụ kiện, thậm chí trầy, tróc sơn…, hệ thống CellphoneS sẽ định giá để thu mua, hỗ trợ khách hàng đổi sang iPhone XS, XS Max và iPhone XR chính hãng.
	</h4>
	<p>
		Bộ 3 sản phẩm iPhone mới chính hãng lên kệ tại hệ thống CellphoneS gồm các mức dung lượng: 64GB, 128GB (chỉ XR), 256GB và 512GB (XS và XS Max). Về màu sắc, iPhone XS và XS Max sẽ có 3 màu: Vàng Đồng, Bạc, Xám. Riêng với iPhone XR, Apple đã ưu ái trang bị 6 màu trẻ trung và cá tính: Trắng, Đen, Đỏ, Vàng, Cam, Xanh. Giá của từng sản phẩm cụ thể tại CellphoneS như sau:
	</p>
	<ul style="color:red;">
		<li>iPhone XS|XS Max và XR chính hãng về hàng tại CellphoneS, giá chỉ từ 21 triệu!</li>
		<li>CellphoneS tặng ngay 2 triệu và BH 2 năm, khi đặt trước iPhone XR|XS|XS Max chính hãng</li>
		<li>Ngưng suy diễn đi, chữ “R” trong iPhone XR chẳng có ý nghĩa gì đâu</li>
	</ul>


	<div class="container">
		<div class="row">
			<div class="col-sm-12 clear">
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4>INFORMATION</h4>
						</div>
						<div class="panel-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="col-sm-4">Phiên bản</th>
										<th class="col-sm-4">Giá niêm yết</th>
										<th class="col-sm-4">Giá bán lẻ</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>iPhone XR 64GB VN/A</td>
										<td>22.990.000đ</td>
										<td>21.290.000đ</td>
									</tr>
									<tr>
										<td>iPhone XR 128GB VN/A</td>
										<td>24.990.000đ</td>
										<td>23.190.000đ</td>
									</tr>
									<tr>
										<td>iPhone XR 256GB VN/A</td>
										<td>26.990.000đ</td>
										<td>25.190.000đ</td>
									</tr>
									<tr>
										<td>iPhone XS 64GB VN/A</td>
										<td>29.990.000đ</td>
										<td>27.290.000đ</td>
									</tr>
									<tr>
										<td>iPhone XS 256GB VN/A</td>
										<td>34.990.000đ</td>
										<td>32.290.000đ</td>
									</tr>
									<tr>
										<td>iPhone XS 512GB VN/A</td>
										<td>38.990.000đ</td>
										<td>36.290.000đ</td>
									</tr>
									<tr>
										<td>iPhone XS Max 64GB VN/A</td>
										<td>33.990.000đ</td>
										<td>31.290.000đ</td>
									</tr>
									<tr>
										<td>iPhone XS Max 256GB VN/A</td>
										<td>37.990.000đ</td>
										<td>35.290.000đ</td>
									</tr>
									<tr>
										<td>iPhone XS Max 512GB VN/A</td>
										<td>43.990.000đ</td>
										<td>41.290.000đ</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<img src="~/Content/images/HinhA.jpg" />
	<p>Đặc biệt trong tháng 11 này, CellphoneS áp dụng chương trình “Thu cũ đổi mới – Lên đời XS Max phơi phới”. Nhằm hỗ trợ ưu đãi cho khách hàng có thể lên đời bộ ba iPhone XS|XS Max| XR chính hãng mới 100% từ một chiếc điện thoại cũ với thủ tục đơn giản</p>
	<p>Chương trình thu cũ đổi mới tại CellphoneS không phân biệt nguồn gốc máy cũ, máy xấu, tốt, thu mua cả máy xách tay, không còn hộp và phụ kiện … Chỉ cần thiết bị không bị biến dạng, tắt – mở nguồn và sạc bình thường, các chức năng vẫn hoạt động ổn và log out hết mọi tài khoản bảo mật và khóa sẵn có trên máy.</p>
	<img src="~/Content/images/HinhB.jpg" />
	<p>Khi mua bộ ba iPhone XR|XS|XS Max chính hãng VN/A tại CellphoneS, khách hàng sẽ nhận được những ưu đãi hấp dẫn:</p>
	<ul>
		<li>Hỗ trợ trả góp lãi suất 0%</li>
		<li>Giảm trực tiếp 2 triệu cho khách hàng mua iPhone XS và XS Max, giảm 1 triệu cho khách hàng mua iPhone XR.</li>
		<li><span style="color:red;">Thu máy cũ đổi máy mới để lên đời iPhone</span>, với mức tiết kiệm tối đa đến 15 triệu đồng. Ưu đãi từ CellphoneS giảm thêm 300.000đ vào giá.</li>
	</ul>
</body>
</html>


