
@{
    ViewBag.Title = "NewsMi1";
}

<body>
	<h1><b>CellphoneS mở bán Xiaomi Mi 8 Lite chính hãng, giá sốc chỉ 5.79 triệu</b></h1>
	<h4>
		Sau thời gian ra mắt, Xiaomi cũng đã mang Xiaomi Mi 8 Lite phiên bản chính hãng Global về Việt Nam. Khi mua trong tháng 11 tại CellphoneS, khách hàng còn được nhận thêm PMH 900 ngàn trừ thẳng giá cực kì hấp dẫn.
	</h4>
	<ul style="color:red;">
		<li>Loạt smartphone giảm giá cực sâu trong tháng 11 này (P1)</li>
		<li>Cùng ngắm xứ sở chùa Vàng và hành trình “lost in Bangkok” qua ống kính Xiaomi Mi 8 Lite</li>
		<li>Trên tay Xiaomi Mi 8 Lite chính hãng: Mặt lưng kính gradient, Snapdragon 660, camea kép, QC 3.0, giá chỉ 5.8 triệu</li>
	</ul>
	<h4>Đặc biệt khi mua Xiaomi Mi 8 Lite tại CellphoneS trong tháng 11 này, khách hàng sẽ nhận được ưu đãi:</h4>
	<ul>
		<li>Phiếu mua hàng trừ thẳng giá 900.000đ.</li>
		<li>Trả góp lãi suất 0%</li>
		<li>Bảo hành chính hãng Xiaomi 12 tháng. Cùng gói 1 đổi 1 trong vòng 30 ngày.</li>
	</ul>
	<img src="~/Content/images/Hinh001.jpg" />
	<p><span style="font-size:20px;"><b>Blackberry KeyOne</b></span> sở hữu một thiết kế đậm chất nhà Dâu đen, mang nét hoài cổ với dải bàn phím Qwerty độc đáo. KeyOne có thiết kế rất đẹp, có thể khẳng định điều đó. Khi cầm máy ra ngoài đường chắc chắn nhiều người sẽ hỏi chúng ta vì nó khác biệt so với hàng trăm điện thoại na ná nhau trên thị trường. Cảm giác cầm nắm KeyOne là chắc chắn, vững chãi và không hề rẻ tiền.</p>
	<img src="~/Content/images/Hinh01.jpg" />
	<p>
		Là thành viên mới góp mặt trong phân khúc tầm trung, Mi 8 Lite tự mình khác biệt với loạt người anh em khác như Redmi Note 6 Pro hay Redmi A2 với thiết kế bóng bẩy cùng cách phối màu sắc cá tính. Hiệu ứng chuyển màu xanh – tím khiến nhiều người liên tưởng ngay đến chiếc máy tầm trung Huawei Nova 3i gây bão suốt thời gian qua.
	</p>
	<img src="~/Content/images/Hinh002.jpg" />
	<p>
		Ngoài thiết kế, Xiaomi Mi 8 Lite còn sở hữu thông số cấu hình khá tốt trong tầm giá như truyền thống của hãng từng làm từ trước đến nay. Với mức giá chỉ từ 5.79 triệu chính hãng, máy đã có màn hình 6.3 inch FullHD+ đi kèm con chip Snapdragon 660 cùng 4GB RAM – 64GB ROM trên Mi 8 Lite sẵn sàng đáp ứng mọi nhu cầu từ cơ bản cho đến giải trí, chơi game đồ họa nặng.
	</p>
	<p>
		Máy được cài sẵn nền tảng Android 8.1 cùng giao diện MIUI 9.6 Global, dự kiến sẽ được Xiaomi cập nhật lên MIUI 10 để tối ưu tốt nhất phần cứng cũng như trải nghiệm người dùng.
	</p>
	<img src="~/Content/images/Hinh003.jpg" />
	<p>
		Máy vẫn có cụm camera kép 12MP + 5MP phía sau cho phép chụp những bức ảnh chân dung xóa phông vui vẻ. Được Xiaomi giới thiệu cảm biến chất lượng từng có trên Mi A2, camera trên Mi 8 Lite hứa hẹn sẽ mang đến những bức ảnh chất lượng cho người dùng.
	</p>
	<img src="~/Content/images/Hinh004.jpg" />
	<p>
		Sở hữu thiết kế đẹp với mặt lưng kính đổi màu độc đáo, cấu hình mạnh mẽ trong phân khúc, camera chất lượng cùng trải nghiệm MIUI thú vị là những điểm cộng lớn, khiến Xiaomi Mi 8 Lite là một lựa chọn đáng cân nhắc trong dịp mua sắm tháng 11 này!
	</p>
</body>