
@{
	ViewBag.Title = "Spen";
}

<h2>Đây chính là siêu phẩm đáng sở hữu nhất ở mức giá 22 triệu đồng</h2>


<p>
	Với mức giá 22 triệu đồng ở phân khúc cao cấp, khó có chiếc smartphone nào có thể “đánh bại”
	Galaxy Note9 ở mọi mặt từ thiết kế, camera, hiệu năng hay thời lượng pin.
</p>
<p>
	Là một trong những chiếc smartphone cao cấp được đánh giá là tốt nhất hiện nay,
	Galaxy Note9 không chỉ mang tới một trải nghiệm đầy đủ nhất cho người dùng,
	mà còn là thiết bị hỗ trợ đắc lực cho các nhu cầu làm việc, học tập, giải trí và sáng tạo.
	So với các sản phẩm cùng phân khúc và tầm giá trên thị trường hiện nay,
	khó có thể tìm thấy bất cứ chiếc smartphone nào có thể cạnh tranh hay mang tới một trải nghiệm người dùng tốt hơnGalaxy Note9.
	Cùng Sforum tìm hiểu lý do gì khiến Galaxy Note9 lại chính là siêu phầm đáng để sở hữu nhất hiện nay nhé.
</p>

<h4>
	Thiết kế sang trọng
</h4>
<p>
	Là một sản phẩm cao cấp tới từ thương hiệu Samsung nổi tiếng, Galaxy Note9 có lẽ chính là chiếc smartphone
	có thiết kế đẹp nhất từng được hãng giới thiệu. Được hoàn thiện từ 2 mặt kính bóng loáng cùng khung viền kim loại chắc chắn,
	kết hợp với các tùy chọn màu sắc nổi bật như đen, xanh, đồng,
	Galaxy Note9 sẽ mang tới một cảm giác sang trọng khi cầm trên tay.
</p>

<p>
	Không chỉ vậy, so với thế hệ tiền nhiệm, Galaxy Note9 cũng có một số thay đổi nhỏ về thiết kế mặt lưng.
	Cụ thể, cảm biến vân tay của máy giờ đây đã được di chuyển xuống bên dưới cụm camera thay vì ở cạnh phải cụm camera,
	cho thao tác với cảm biến này trở nên dễ dàng hơn bao giờ hết. Chi tiết nhỏ nhặt này cho thấy Samsung rất quan tâm tới
	người dùng của mình, nhất là trong trải nghiệm sử dụng hàng ngày.
</p>


<h4>Camera xuất sắc</h4>

<p>Galaxy Note9 sở hữu cho mình cụm camera kép 12MP + 12MP ở mặt sau với cảm biến chính có khả năng thay đổi khẩu độ từ f/2.4 tới
	f/1.5. Khẩu độ lớn sẽ là một trong những yếu tố quan trọng giúp cải thiện khả năng chụp ảnh thiếu sáng của máy. 
	Tuy nhiên khoan nói về việc chụp thiếu sáng, với điều kiện đầy đủ sáng bình thường, camera trên Note9 có khả năng cho ra 
	các bức ảnh cực kỳ xuất sắc từ màu sắc, độ chi tiết cùng độ tương phản,… đều được máy tái tạo lại một cách trung thực nhất.
	Không chỉ vậy camera trên Note9 còn được tích hợp AI,
	giúp phân tích cảnh vật xung quanh cùng việc cải thiện chất lượng hình ảnh.</p>

