
@{
    ViewBag.Title = "SideMenu";
}

<ul class="list-group">
	<li class="list-group-item"><a href="/SpareParts/Screen" class="btn btn-default btn-block">Màn Hình</a></li>
	<li class="list-group-item"><a href="/SpareParts/Pin" class="btn btn-default btn-block">Pin</a></li>
	<li class="list-group-item"><a href="/SpareParts/Camera" class="btn btn-default btn-block">Camera</a></li>
	<li class="list-group-item"><a href="/SpareParts/ScreenCover" class="btn btn-default btn-block">Khung Màn Hình</a></li>
</ul>
